* { margin: 0;
   padding:0;
   box-sizing: border-box;

 }

/* Shared style */

 .font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2 { 

  font-size: 45px;
  font-weight: 900px;

}

.color-orange { 

  color: #FD6E0A ;
}

 .btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
 }

/* main style */


header {background-color:#FFF8F3;
     
    background: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: TOP left , bottom right ;
    background-repeat: no-repeat;
    padding-top:50px ;
    margin: right 35px;
    vertical-align: middle;
}

nav {

  width: 69%;
  max-width: 1140px;


 margin: 0px auto;
 display: flex;
 justify-content: space-between;
 align-items: center ;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a { 
  font-size: 20px ;
  color: #474747;
  text-decoration: none;

}

#banner {
  /* border: solid red; */

  margin: 47px 180px 0px 390px ;

  display: flex;

  justify-content: space-between;
  align-items: center;
}



#banner .banner-content {
max-width: 585px;
} 



#banner .banner-content h2 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
} 


#banner .banner-content h1 {
  font-size: 85px;
  color: #e70000;
  font-weight: bold;
  margin-bottom: 20px;
} 
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;

  margin-bottom: 30px;
} 

#banner.banner-image  img{
  max-width: 585px;
  vertical-align: middle;
}